@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css/login.css")
</head>
<body>
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="login-box">
                                <div class="card-header"><h3 class="font-weight-light my-4">Login - Atiana's</h3></div>
                                <div class="card-body">
                                    <form action="@Url.Content("~/Login/Index")" method="post">
                                        @Html.AntiForgeryToken()
                                        <div class="user-box">
                                            <input class="form-control" id="inputEmail" name="NCorreo" type="email" placeholder="name@example.com" value="admin@example.com" />
                                            <label for="inputEmail">Correo</label>
                                        </div>
                                        <div class="user-box">
                                            <input class="form-control" id="inputPassword" name="NContrasena" type="password" placeholder="Contraseña" autocomplete="off" value="admin123" />
                                            <label for="inputPassword">Contraseña</label>
                                        </div>
                                        <div class="user-box">
                                            @{
                                                if (ViewBag.Error != null)
                                                {
                                                    <div class="alert alert-danger" role="alert">
                                                        @ViewBag.Error
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <div class="row mt-2 justify-content-center">
                                            <div class="col-sm-12 text-center">
                                                <div class="d-flex justify-content-center mb-3" >
                                                    <a class="btn btn-primary btn-block login-box-btn" href="@Url.Action("Index","Home")">Iniciar Sesion</a>
                                                </div>
                                                <p class="mb-0">Si no tienes una cuenta <a class="login-box-btn" href="@Url.Action("Registrarse","Login")" target="_blank"><b>Registrate</b></a></p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
    </script>
</body>
</html>