@model ProyectoTest.Models.Usuario
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrarse</title>
    @Styles.Render("~/Content/css/register.css")
    
</head>
<body>
    <div class="login-box">
        <h2 class="card-header">Crear Cuenta</h2>
        <form action="@Url.Action("Registrarse", "Login")" method="post">
            <div class="user-box">
                <input type="text" name="NNombres" required="" value="@Html.DisplayTextFor(model => model.Nombres)">
                <label>Nombres</label>
            </div>
            <div class="user-box">
                <input type="text" name="NApellidos" required="" value="@Html.DisplayTextFor(model => model.Apellidos)">
                <label>Apellidos</label>
            </div>
            <div class="user-box">
                <input type="email" name="NCorreo" required="" value="@Html.DisplayTextFor(model => model.Correo)">
                <label>Correo</label>
            </div>
            <div class="user-box">
                <input type="password" name="NContrasena" required="" value="@Html.DisplayTextFor(model => model.Contrasena)">
                <label>Contraseña</label>
            </div>
            <div class="user-box">
                <input type="password" name="NConfirmarContrasena" required="" value="@Html.DisplayTextFor(model => model.ConfirmarContrasena)">
                <label>Confirmar Contraseña</label>
            </div>
            <div class="form-floating">
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.Error
                    </div>
                }
            </div>
            <a href="#" onclick="document.forms[0].submit(); return false;">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Crear Cuenta
            </a>
        </form>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
