<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tienda</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/PluginsCSS")

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/Content/templatemo-villa-agency.css">
    <link rel="stylesheet" href="~/Content/owl.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
</head>
<body>
    <div class="sub-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <ul class="info">
                        <li><i class="fa fa-envelope"></i> atianas@gmail.com</li>
                        <li><i class="fa fa-map"></i> Lima - Perú</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4">
                    <ul class="social-links">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="https://www.instagram.com/atianas_02/"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Inicio del Logo ***** -->
                        <a href="index.html" class="logo">
                            <h1>Atiana’S</h1>
                        </a>
                        <!-- ***** Fin del Logo ***** -->
                        <!-- ***** Inicio del Menu ***** -->
                        <ul class="nav">
                            <li><a href="@Url.Action("Pagina", "Login")">Inicio</a></li>
                            <li><a href="property-details.html">Nosotros</a></li>
                            <li><a href="contact.html">Contactanos</a></li>
                            <li><a href="@Url.Action("Tienda", "Login")" class="active"><i style="color: white;" class="fa fa-store"></i> Tienda Online</a></li>
                            <li><a class="btn-ver-categoria" id="sidebarToggle" href="#!">Ver Categorias</a></li>
</li>
                            <!-- Botón del usuario -->
                            
                                @{
                                    if (((ProyectoTest.Models.Usuario)Session["Usuario"]).EsAdministrador == false)
                                    {
                                        <ul class="navbar-nav">
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle btn-usuario" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                                    <li><a class="dropdown-item" href="@Url.Action("Index", "Tienda")">Ir a Tienda</a></li>
                                                    <li><a class="dropdown-item" href="@Url.Action("Compras", "Tienda")">Mis Compras</a></li>
                                                    <li><hr class="dropdown-divider" /></li>
                                                    <li><a class="dropdown-item" href="@Url.Action("CerrarSesion", "Tienda")">Cerrar Sesión</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    }
                                }
                            </li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Fin del Menu ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <main class="container-fluid">
        @RenderBody()
    </main>
    </main>
    <div class="position-fixed top-0 end-0 p-3 mt-5" style="z-index: 5">
        <div id="toast-carrito" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
            <div class="toast-body bg-success text-white">
                <div class="d-flex">
                    <i class="fas fa-check fa-2x"></i> <label style="margin-left: 10px !important">Se añadió al carrito!</label>
                </div>
            </div>
        </div>
    </div>

    <div class="position-fixed top-0 end-0 p-3 mt-5" style="z-index: 5">
        <div id="toast-alerta" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
            <div class="toast-body bg-danger text-white">
                <div class="d-flex">
                    <i class="fas fa-exclamation-circle fa-2x"></i> <label id="mensaje-error" class="ml-2" style="margin-left: 10px !important">Error</label>
                </div>

            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/PluginsJS")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script>


            $(document).ready(function () {
                obtenerCantidad();
            })
            function obtenerCantidad() {
                jQuery.ajax({
                    url: '@Url.Action("CantidadCarrito", "Tienda")',
                    type: "GET",
                    data: null,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $(".contador-carrito").text(data.respuesta);
                    },
                    error: function (error) {
                        console.log(error)
                    },
                    beforeSend: function () {

                    },
                });

            }
            $(document).on('click', '.btn-agregar-carrito', function (event) {

                var request = {
                    oCarrito: {
                        oProducto: { IdProducto: $(this).data("idproducto")  }
                    }
                }

                jQuery.ajax({
                    url: '@Url.Action("InsertarCarrito", "Tienda")',
                    type: "POST",
                    data: JSON.stringify(request),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        var actual = parseInt($(".contador-carrito").text());
                        if (data.respuesta != 0) {
                            actual = actual + 1;
                            $(".contador-carrito").text(actual);
                            $('#toast-carrito').toast('show');
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    },
                    beforeSend: function () {

                    },
                });

            });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
